/*
CC BY-SA 4.0(or later).
Alternative Informatics Association - https://alternatifbilisim.org
*/
body {max-width: 800px; margin: 0 auto; font: 11pt "Courier New", Courier, monospace ; color: #181818; padding: 0 1rem;}
h1 {text-align: center;}
a, a:visited {color:#4D4D4D; text-decoration: none;}
a.download {color: white;}
a:hover, a.download:hover {color: black; background-color:#FCEE21}
.header {height: 80px; margin-bottom: 20px;}
.logo {width:200px; height: 100px; float:left;}
ul.nagi {font-size: 14pt; font-weight: 400; list-style-type: none; display: inline; text-align: right;} 
ul li {margin: 0.5rem 0;}
.muted {color: #1D1D1D;}
hr {border-bottom: dashed 1px #444; border-style: none none dashed;}
hr.note {border-bottom: dashed 1px #999; border-style: none none dashed;}
.books {width: 100%;}
.cover {width: 22%; float: left;}
.gist {width: 78%; float: right; margin-top: 20px;}
.books:after {content: ""; display: table; clear: both;}
pre {padding-left: 1rem; max-width: 100%; overflow-x: auto;}
.black { font-size: 13pt; color:white; background-color: black; padding: 0.1rem;}
footer {width: 100%;}
.contact {width: 50%; float: left;}
.license {width: 35%; float: right;}
@media(max-width: 720px) {img {width: 100%; height: auto;} .header {margin-bottom: 80px;} .gist{width: 100%;} .cover{width: 80%} .contact,.license {width: 100%; float: none;}}
